body {
	font-family: verdana;
	/* background-color: white; */
	margin: 0;
	padding: 0;
    font-size: 13px;
}
a.but		
{
	text-decoration: none;
	font-weight: normal;
	font-family: verdana;
	font-size: 14px;
	color: white;
	background:#000099;
	border-color: gray black black gray;
	border-width: 1px;
	padding: 2px;
}
a:hover.but {text-decoration:underline; color: yellow;}
.rd {color:red; font-style:italic; font-family:verdana; font-size:11px; }
a.edi {text-decoration:none; font-weight:normal; font-family: verdana; font-size: 11px; color: midnightblue;}
a:hover.edi {text-decoration:underline; color: blue;}
a.del {text-decoration:none; font-weight:normal; font-family: verdana; font-size: 11px;  color: orangered;}
a:hover.del {text-decoration:underline; color: blue;}
a.his {text-decoration:none; font-weight:normal; font-family: verdana; font-size: 11px;  color: #1E90FF;}
a:hover.his {text-decoration:underline; color: blue;}
th {text-align: left; font-family: arial, sanserif; font-weight: bold; font-size: 11px;}
td {font-family: arial, sanserif; font-weight: normal; font-size: 14px;}
tr.Odd { background-color: white; }
tr.Even { background-color : bisque; } 

.error_message { color: red; font-weight: 900; }
.success_message { color: green; font-weight: 900; }

.visible { display: normal; }
.hidden { display: none; }

/* Sortable tables */

table.sortable a.sortheader {
		white-space: nowrap; 
		text-align: left; 
		/*color: #000000; */
		/*background-color: #F8DBB7;*/ 
		font-weight: 900;
   		text-decoration: none;
	    display: block;
	}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}

select		
{
	color: blue;
	background-color: lightblue;
	font-size: 14px;
	font-weight: bold;
}
.select_no_style		
{
	color: black;
	background-color: white;
	font-size: 12px;
	font-weight: normal;
}

select.limited-width 
{    
	width: 200px;
	position: static;
}

select.expanded-width 
{
	width: auto;
	position: relative;
}

	.bodytext12-14 { font-family: Verdana, Arial, Helvetica; font-size: 14px; line-height: 18px; color: #000000; }

	.bodytext12-14A { font-family: Verdana, Arial, Helvetica; font-size: 14px; line-height: 18px; color: #3f3f3f; }
	.StepHead { font-family: Verdana, Arial, Helvetica; font-size: 20px; line-height: 24px; color: chocolate; }
	.StepHead2 { font-family: Verdana, Arial, Helvetica; font-weight:bold; font-size: 16px; line-height: 20px; color: chocolate; }
	.SubHead { font-family: Verdana, Arial, Helvetica; font-size: 16px; line-height: 24px; color: chocolate; }
	.SubHead2 { font-family: Verdana, Arial, Helvetica; font-size: 12px; line-height: 20px; color: chocolate; }
	.SubHead3 { font-family: Verdana, Arial, Helvetica; font-size: 11px; line-height: 20px; color: chocolate; text-align: left;
	}

	.menu { font-family: Verdana, Arial, Helvetica; font-size: 14px; line-height: 18px; color: midnightblue; }
	.large { font-family: Verdana, Arial, Helvetica; font-size: 30px; line-height: 24px; color: chocolate; }
	.footer { color: #3f3f3f; font-size: 11px;	line-height: normal; font-family: verdana, arial, sanserif; }
	.footer2 { color: gray; font-size: 14px;	line-height: normal; font-family: verdana, arial, sanserif; }
	.undNancy { font-size: 11px;	line-height: normal; font-family: verdana, arial, sanserif; }

/*
* This property can take from one to four values:
* 
* One value, like: p {border-style: solid} - all four borders will be solid
*
* Two values, like: p {border-style: solid dotted} - top and bottom border will
* be solid, left and right border will be dotted
*
* Three values, like: p {border-style: solid dotted double}- top border will be
* solid, left and right border will be dotted, bottom border will be double
*
* Four values, like: p {border-style: solid dotted double dashed} - top border
* will be solid, right border will be dotted, bottom border will be double,
* left border will be dashed
* */
  
th.lbdyTop, td.lbdyTop
{
	padding: 5px;
	text-align: center;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid solid none;
}

td.bdyTop
{
	padding: 5px;
	text-align: center;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid solid none;
}
td.stbdyTop
{
	padding: 5px;
	text-align: center;
	font-size: 10px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid solid none;
}

td.rbdyTop
{
	padding: 5px;
	text-align: center;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid none solid none;
}

td.ldivTop
{
	padding: 5px;
	text-align: center;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
	border-style: solid solid solid solid;
}

td.lbdyOrg
{
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	font-weight: normal;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid none solid;
}

td.lrjbdyOrg
{
	padding: 5px;
	text-align: left;
	font-size: 11px;
	font-family: verdana;
	font-weight: normal;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid none solid;
}

td.ldivOrg
{
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	font-weight: normal;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid none solid;
}

td.bdyOrg
{
	padding: 5px;
	text-align: left;
	font-size: 11px;
	font-family: verdana;
	font-weight: normal;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid none none solid;
}
td.bdyOrgC
{
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	font-weight: normal;
	border-color: gray;
	border-width: 1px;
	border-style: solid none none solid;
    
}

td.rbdyOrg
{
	padding: 5px;
	text-align: left;
	font-size: 11px;
	font-family: verdana;
	font-weight: normal;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid none solid;
}
td.rbdyOrgC
{
	padding: 5px;
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	font-weight: normal;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid none solid;
}


th.frmbdyL, td.frmbdyL 
{ 
	padding: 5px;
	text-align: center;
    vertical-align: middle;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: none solid none solid;
}
th.frmbdyR, td.frmbdyR
{ 
	padding: 5px;
	text-align: center;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid none none;
}
th.frmtbdyC, td.frmtbdyC 
{ 
	padding: 5px;
	text-align: center;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: none solid none none;
}
th.frmTopL, td.frmTopL  
{ 
	padding: 5px;
	text-align: center;
    vertical-align: bottom;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid none none solid;
    background-color: #FFA73F;
}
td.divfrmTop
{
	padding: 5px;
	text-align: center;
    vertical-align: bottom;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid none none solid;
    background-color: #FFA73F;
}

th.frmTopR, td.frmTopR
{
	padding: 5px;
	text-align: center;
    vertical-align: bottom;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid none solid;
    background-color: #FFA73F;
}

th.frmBotL, td.frmBotL
{
	padding: 2px;
	text-align: center;
	vertical-align: bottom;
	font-size: 11px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid none solid solid;
    background-color: #FFA73F;
}
th.frmBotSpanL, td.frmBotSpanL {
	border-color: gray;
	border-width: 1px;
	border-style: none none solid solid;
    background-color: #FFA73F;
}
th.frmBotSpanR, td.frmBotSpanR {
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: none solid solid solid;
    background-color: #FFA73F;
}
td.divfrmBot
{
	padding: 2px;
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid none solid solid;
    background-color: #FFA73F;
}


th.frmBotR, td.frmBotR 
{ 
	padding: 2px;
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	font-weight: bold;
	border-color: gray;
	border-width: 1px;
  /* {border-style: top right bottom left} */
	border-style: solid solid solid solid;
    background-color: #FFA73F;
}

td.hid
{
visibility:hidden;
}
td.vis
{
visibility:hidden;
}

td.editFrmTopRow
{ 
	padding: 4px;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}
td.editFrmTopRowM
{ 
	padding: 5px;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
}
td.editFrmTopRowR
{ 
	padding: 5px;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
}


td.editFrmNoSides
{ 
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
}

td.editFrmRow14
{ 
	padding: 5px;
	text-align: center;
	font-size: 14px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
}
td.editFrmRow12
{ 
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
}

td.editFrmRow12L
{ 
	padding: 5px;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
}
td.editFrmRow12R
{ 
	padding: 5px;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
}
td.editFrmRow12B
{ 
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

td.editFrmSortRowL
{ 
	padding: 5px;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
}
td.editFrmSortRowR
{ 
	padding: 5px;
	font-size: 12px;
	font-family: verdana;

	font-weight: bold;
	border-color: black;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
}
td.editFrmButtnRow
{ 
	padding: 2px;
	font-size: 10px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 2px 1px 2px 1px;
	border-style: solid;
}
td.editFrm
{ 
	padding: 5px;
	text-align: center;
	font-size: 12px;
	font-family: verdana;
	font-weight: bold;
	border-color: black;
	border-width: 0px;
	border-style: solid;
}

table.hdr { width: 100%; background-color: #F79723; }

table.hdr #ff_logo {background:#F79723 url(/administration/images/bg_header.gif) bottom left repeat-x;}
table.hdr #user_label {background:#F79723 url(/administration/images/bg_header.gif) bottom left repeat-x;}

.hdrnav { white-space: nowrap; background-color: #000000; text-align: right; padding: 0px 10px 0px 10px; color: #cccccc; }

.hdrnav a:link { color: #FFFFFF; text-decoration: none; font-weight: 900; }

.hdrnav a:visited { color: #FFFFFF; text-decoration: none;  font-weight: 900; }

.hdrnav a:hover { color: #F7941C; text-decoration: underline; font-weight: 900; }

.hdrnav_on { color: #F7941C; text-decoration: none; font-weight: 900; }

.hdrnav_in a:link { color: #F7941C; text-decoration: none; font-weight: 900; }

.hdrnav_in a:visited { color: #F7941C; text-decoration: none;  font-weight: 900; }

.hdrnav_in a:hover { color: #F7941C; text-decoration: underline; font-weight: 900; }

.hdrnavrgt { background-color: #FFFFFF; width: 198px; }
.content {
	clear:left;
	padding: 20px;
	background: #FFF url(/administration/images/bg-wht-grad.jpg) top left repeat-x;
	}
	
/* Added: 20090723, MJH, NRE: Fix to keep page background yellow and table background white for Advance Entry screen. */	
table.content {
	background: transparent;
	}
table.content table table {
	background: #fff;
	}
	
.contentinner { padding: 20px; background-color: #FFEFB5; }

#hdr_banner {
	width:100%;
	margin:0;
	padding:0;
	background-color:#F7941C;
	border-bottom:5px solid #000;
}


/* -------------------------------------------------------------------------- */
/* Flash Message boxes */
/* -------------------------------------------------------------------------- */

div.info, div.notice, div.warning, div.error, div.validation {
    width: 95%;
	font-size: 95%;
	font-weight: 500;
	border: 1px solid;
	margin: 10px 0px;
	padding:10px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
div.info {
	color: #00529B;
	background-color: #BDE5F8;
}
div.info a {color: #00529B;}
div.notice {
	color: #4F8A10;
	background-color: #DFF2BF;
}
div.notice a {color: #4F8A10;}
div.warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
div.warning a {color: #9F6000;}
div.error {
	color: #D8000C;
	background-color: #FFBABA;
}
div.error a {color: #D8000C;}
div.validation {
	color: #D8000C;
	background-color: #FFBABA;
}
div.validation a {color: #D8000C;}

/* -------------------------------------------------------------------------- */
/* Navigation Bar */
/* -------------------------------------------------------------------------- */
#navigation  {
background: #373737;
padding: 5px 0;
border-top: 2px solid #000;
border-bottom: 2px solid #fff;
}
#navigation .menu {
margin: 0;
}
#navigation .menu td {
margin: 0;
padding: 0;
border-right: 1px solid #fff;
font-size: 95%;
text-align: center;
}
#navigation .menu  td.last { border: none; }
#navigation .menu td a {
padding: 3px 9px;
display: block;
}
#navigation .sub_menu {
/*Make the sub list items invisible*/
display: none;
margin: 0;
padding: 0;
cursor: default;
list-style-type: none;
position: absolute;
border-top: 4px solid #373737;
background-color: #373737;
text-align: left;
}
#navigation .menu td:hover>.sub_menu {
/*When hovered, make them appear*/
display: block;
}
#navigation .sub_menu li {
margin: 0;
padding: 0;
border-top: 1px dotted #7F7F7F;
font-size: 95%;
}
#navigation .sub_menu li a {
/*Make the hyperlinks as a block element, sort of a hover effect*/
display: block;
margin: 0;
padding: 6px 4px 4px 7px;
height: auto;
text-decoration: none;
background-color: #373737;
color: #fff;
}
#navigation .menu td a:hover, #navigation .sub_menu li a:hover {
color: #DF8017;
text-decoration: none;
}
#navigation .menu td a:active, #navigation .menu td a.current, #navigation .sub_menu li a:active {
background-color: #373737;
}
#navigation .menu td a {
color: #FFF;
text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/* user_label */
/* -------------------------------------------------------------------------- */
#user_label {
margin: 0;
padding: 10px 30px 10px 10px;
vertical-align: middle;
text-align: right;
}
#user_label a {
color: #000;
}
#user_label a:hover {
color: #fff;
text-decoration: none;
}
#user_label .user_name {
font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/* site logo  */
/* -------------------------------------------------------------------------- */
#site_logo {
width: 198px;
text-align: right;
background-color: #fff;
}
#site_logo img {
border-left: 1px solid #000;
}

/* -------------------------------------------------------------------------- */
/* Secondary Menu */
/* -------------------------------------------------------------------------- */
.menu_secondary a.menu_item {
margin: 0 0 2px 0;
padding: 6px 6px 5px 6px;
width: 250px;
display: block;
clear: left;
border: 1px solid #dedede;
background-color: #f5f5f5;
text-decoration: none;
color: #4F4F4F;
}
.menu_secondary a.menu_item:hover {
border: 1px solid #AFAFAF;
background-color: #DEDEDE;
color: #000;
text-decoration: none;
}
.menu_secondary .help_link {
float: right;
padding: 6px;
}
.menu_secondary a.help_info {
background: transparent url(/administration/images/ico-info.gif) no-repeat;
background-position: 0 1.5px;
padding-left: 17px;
}

/* -------------------------------------------------------------------------- */

/* popup div */

/* -------------------------------------------------------------------------- */



.popup {

	position: absolute;

	padding: 1em;

	background-color: #eeeeee;

	border: 1px solid #F89000;

	width: auto;

	height: auto;

	text-align: left;

	color: #000000;

	font-weight: normal;

	font-size: 9pt;

}

.popup .visible {display:inline;}

a.popup_link {

	color: #F89000;

	padding-bottom: 2px;

}

a.popup_link:hover {

	text-decoration: none;

	cursor: pointer;

	color: #F89000;

}

a.plain{font-weight: normal;}

/* checkbox tree styles 
------------------------------------------- */
table.tree { background-color:#fff; }

.treehdr { 
	color:#000; 
	font-size:100%; 
	padding:5px; 
	border-bottom:1px solid #fbc989; 
	border-right:1px solid #fbc989; 
	border-top:1px solid #ffe8cb; 
	border-left:1px solid #ffe8cb; 
	background-color:#fdf3e6; 
	}
	
.treehdrlast { 
	color:d2691e; 
	font-size:100%; 
	font-weight:900; 
	background-color:#fff; 
	}
	
table.treesub { background-color:#fff; width:100%; }
td.treesubdark { background-color:#ffe8cb; color:#000; }
td.treesublgt { background-color:#fdf3e6; color:#000; }
td.treesublast { background-color:#fff;  }

/* Results Data Table Styles 
------------------------------------------- */
table.results, 
table.tabbed_data td.resultsdata table.results { /* <-- new */
	background-color:#e0e0e0; 
	border:1px solid #6c6c6c; 
	margin:5px 0; 
	}
	
th.resultshdr, 
table.tabbed_data td.resultsdata table.results th.resultshdr,
th.sorttable_alpha, th.sorttable_numeric, th.sorttable_nosort,
table.tabbed_data td.resultsdata table.results th.sorttable_alpha th.sorttable_numeric { /* <-- new */
	text-align:left; 
	color:#000; 
	padding:4px; 
	background-color:#f8dbb7; 
	border-right:1px solid #7a7a7a; 
	border-left:1px solid #fff; 
	border-bottom:1px solid #7a7a7a; 
	border-top:1px solid #fff; 
	border-collapse:collapse; 
	font-weight:900; 
	}

th.resultshdr_wrap { 
    text-align: left; 
    color: #000000; 
    padding: 4px; 
    background-color: #F8DBB7;
     border-right: 1px solid #7a7a7a; 
     border-left: 1px solid #FFFFFF; 
     border-bottom: 1px solid #7a7a7a; 
     border-top: 1px solid #FFFFFF; 
     border-collapse: collapse; 
     font-weight: 900;
     }

	
th.resultshdrone,
table.tabbed_data td.resultsdata table.results th.resultsdrone {  /* <-- new */
	text-align:left; 
	color:#fff; 
	padding:4px; 
	background-color:#989898; 
	border-right:1px solid #7a7a7a; 
	border-left:1px solid #fff; 
	border-bottom:1px solid #7a7a7a; 
	border-top:1px solid #fff; 
	border-collapse:collapse; 
	font-weight:900; 
	}
	
th.resultshdractive,
table.tabbed_data td.resultsdata table.results th.resultshdractive {  /* <-- new */
	text-align:left; 
	color:#000; 
	padding:4px; 
	/* background-color:#f7941c; */
	background-color:#f8dbb7; 
	border-right:1px solid #cecece; 
	border-left:1px solid #fff; 
	border-bottom:1px solid #f4f4f4; 
	border-top:1px solid #fff; 
	border-collapse:collapse; 
	font-weight:900; 
	}
	
td.resultsdata1,
table.tabbed_data td.resultsdata table.results td.resultsdata1,
td.resultsdata1right,
table.tabbed_data td.resultsdata table.results td.resultsdata1right { /* <-- new */
	background-color:#f4f4f4; 
	vertical-align:top; 
	padding:5px; 
	border-top:1px solid #fff; 
	border-left:1px solid #fff; 
	border-bottom:1px solid #babab9; 
	border-right:1px solid #babab9; 
	}
	
td.resultsdata1_dark { 
    background-color: #E0E0E0; 
    vertical-align: top; 
    padding: 5px; 
    border-top: 1px solid #FFFFFF; 
    border-left: 1px solid #FFFFFF; 
    border-bottom: 1px solid #BABAB9; 
    border-right: 1px solid #BABAB9; 
    }

td.resultsdata1right,
table.tabbed_data td.resultsdata table.results td.resultsdata1right { text-align:right; } /* <-- new */
	
td.resultsdata2,
table.tabbed_data td.resultsdata table.results td.resultsdata2 { /* <-- new */ 
	vertical-align:top; 
	padding:5px; 
	border-top:1px solid #fff;
	border-left:1px solid #fff; 
	border-bottom:1px solid #babab9; 
	border-right:1px solid #babab9; 
	}
	
td.resultsdata_tier1or2,
table.tabbed_data td.resultsdata table.results td.resultsdata_tier1or2 { /* <-- new */ 
	background-color:#bbddac; 
	vertical-align:top; 
	padding:5px; 
	border-top:1px solid #fff; 
	border-left:1px solid #fff; 
	border-bottom:1px solid #babab9; 
	border-right:1px solid #babab9; 
	}

td.resultsdata_red,
table.tabbed_data td.resultsdata table.results td.resultsdata_red { /* <-- new */ 
	background-color: #FF6666;
	vertical-align: top;
	padding: 5px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #BABAB9;
	border-right: 1px solid #BABAB9;
	}


/* Edit Input Styles 
------------------------------------------- */
table.edit { 
	background-color:#fdf3e6; 
	border:2px solid #ffe8cb; 
	/*margin-bottom:20px;*/ 
	margin-bottom:12px;
	}
	
td.editcenter { 
	width:35%; 
	padding:5px 10px 5px 15px; 
	vertical-align:top; 
	border-top:1px solid #fff; 
	border-left:1px solid #fff; 
	border-bottom:1px solid #fcddb4; 
	border-right:1px solid #fcddb4;
	}
	
td.editlft, td.editrgt {
	vertical-align:top; 
	border-top:1px solid #fff; 
	border-left:1px solid #fff; 
	border-bottom:1px solid #d4bff1; 
	border-right:1px solid #d4bff1; 
	}
	
td.altcolor {
	background-color:#ffe7cd;
	}
	
td.editlft { 
	padding:5px 10px 5px 5px; 
	font-weight:900; 
	text-align:right;  
	}
	
td.editrgt {padding:5px;}

.alignrgt {text-align:right;}

strong {
  color: red;
  background-color: yellow;
}
