/* CSS Document */

div.scrollTableExteriorBox {
    /* What is magical about 1320px? */
    /* width: 1320px; */

    /* Avoid horizontal scrollbars */
    width: 100%;

    /* Hide unneccessary scrollbars */
    overflow: auto;
    overflow-x: hidden;
}

div.scrollTableExteriorBox table {
    width: 100%;
    margin: 0;
    padding: 0;

    /* Hide unneccessary scrollbars */
    overflow: auto;
    overflow-x: hidden;

}

/* This makes the scrolling table work */

div.scrollTableContainer {
	height: 610px;	

  /* Hide unneccessary scrollbars */
  overflow: auto;
  overflow-x: hidden;

  /* What is magical about 1318px? */
	/* width: 1318px; */

  /* Avoid horizontal scrollbars */
	width: 100%;

	margin: 0;
	position: relative;
	border-left: 1px solid #6C6C6C;
	border-right: 1px solid #6C6C6C;
	border-bottom: 1px solid #6C6C6C;
}

/* The different widths below are due to the way the scroll bar is implamented. */

div.scrollTableContainer table {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}



div.scrollTableContainer thead tr	{
	position:relative;
}

/*prevent Mozilla scrollbar from hiding cell content*/
div.scrollTableContainer td:last-child {padding-right: 20px;}


div.scrollTableContainer select	{

  /* Make the reason code menus more narrow */
  width: 220px;
}

/* 
  https://github.com/kingkool68/stickyHeader
  stickyHeader.css - Three little styles that make the stickyHeader script work. 
 */

/* This code is not ready for prime time.
 * Due to the improper alignment
 * issues.  It actually does more
 * harm than good.
 *
 * .hide {
 *   display: none;
 * }
 *
 * div.stickyHeader {
 *   position: fixed;
 *   _position: absolute;
 *   top: 0;
 * }                        
 */

/* Ruturaj.net solution

#ruturaj-stickyheader {
  width: 100%;
  height: 10px;
}
#ruturaj-stickyalias {
  display: none;
  height: 10px;
}
#unstickyheader {
  margin-bottom: 15px;
}
#othercontent {
  margin-top: 20px;
}

*/

/* Hide debugging below content as it's throwing off the rendering engine */
.cfdebug {
  /* display: none; */
}

#topOrangeHeaderRow1:nth-child(2) {
  width: 1400px;
}

.scrolling-table-health-plan-td {
  width: 40px;
}

.scrolling-table-notes-td {
  width: 200px;
}

.scrolling-table-tier-td {
  width: 260px;
}

.scrolling-table-restrictions-td {
  width: 116px;
}

.scrolling-table-pref-td {
  width: 60px;
}

.scrolling-table-sp-td {
  width: 27px;
}

.scrolling-table-reason-code-td {
  width: 480px;
}

.scrolling-table-restriction-comments-td {
  width: 350px;
}

.scrolling-table-nbsp-td {
  width: 24px;
}


/* 
 * I guess nth-child selectors aren't widely supported? 
 *    http://webdesign.about.com/od/styleproperties/p/nth-child.htm
 *
 *

tr:nth-child(2) {
  width: 1400px;
}

tbody > tr:nth-child(1) {
  width: 20px;
}
tbody > tr:nth-child(2) {
  width: 220px;
}
tbody > tr:nth-child(3) {
  width: 300px;
}
tbody > tr:nth-child(4) {
  width: 50px;
}
tbody > tr:nth-child(5) {
  width: 80px;
}
tbody > tr:nth-child(6) {
  width: 20px;
}
tbody > tr:nth-child(7) {
  width: 200px;
}
tbody > tr:nth-child(8) {
  width: 200px;
}

*/
